<html><head></head>
<body>
	<h3>If condition says that the integer entered is :<% if(integer%2==0){%>
		Even <%} else {%> Odd <%}%>
		 </h3>
<h2>Run the ejs loop <%=integer%> times</h2>

<%for(var i=0; i< integer ; i++){%>
	<p> <%=i+1%> : Hey Dan What's up ?</p>
	<%}%>


</body>
</html>
